<% @articles.reverse.each do |article| %>
  <div class="blog-post">
    <%= link_to(article_path(article)) do %>
      <h2 class="blog-post-title"><%= article.title %></h2>
    <% end %>
    <p class="blog-post-meta">by: <%= article.author %></p>
    <p><%= article.text %></p>
  </div>
<% end %>