<div class="blog-post">
<% @articles.each do |article| %>
    <h2 class="blog-post-title"><%= article.title %></h2>
    <p class="blog-post-meta">by: <%= article.author %><span>
    <p><%= article.text %></p>
<% end %>
</div>